<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/mystylenew.css">
</head>

<body>
    <div class="header">
        <div class="topbar">
            <div>
                <img src="../images/icon/Landie.png" alt="iconlandie">
            </div>
            <ul class="menubar">
                <li>Home</li>
                <li>About</li>
                <li>Products</li>
                <li>Contact</li>
                <button class="bt-menubar"> Purchase Ul Kit</button>
            </ul>
        </div>
        <div class="topbar-nav">
            <div>
                <img src="../images/icon/Landie.png" alt="iconlandie">
            </div>
            <div>
                <span class="text-topbar-nav" onclick="openNav()">&#9776;</span>
            </div>
            <div id="mySidenav" class="bt-nav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Products</a>
                <a href="#">Contact</a>
                <a href="#"><button class="bt-menubar"> Purchase Ul Kit</button></a>

            </div>

        </div>

        <div class="title">
            <h1>Introduce Your Product Quickly & Effectively</h1>

            <p class="tab">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            </p>
            <p>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                enim.
            </p>
            <button class="bt-title bt-left"> Purchase Ul Kit</button>
            <button class="bt-title bt-right"> Learn More</button>
        </div>

    </div>
    <div class="part2-grid">
        <div class="p2-grid1">
            <h2>Light, Fast & Powerful</h2>
            <p class="tab">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p>
            <p>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                quis enim.</p>
        </div>
        <div class="p2-grid2">
            <img src="../images/main2.jpg" alt="รูปพาส2">
        </div>
        <div class="p2-grid3">
            <img src="../images/icon/E1.png" alt="ไอคอน1">
            <h3>Title Goes Here</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            </p>
        </div>
        <div class="p2-grid4 p2-grid3">
            <img src="../images/icon/E2.png" alt="ไอคอน2">
            <h3>Title Goes Here</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            </p>
        </div>
    </div>

    <div class="part3-grid">
        <div class="p3-grid1 ">
            <img src="../images/img1.jpg" alt="รูป1">
        </div>
        <div class="p3-grid2">
            <h2>Light, Fast & Powerful</h2>
            <p class="tab">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p>
            <p>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                enim.</p>
        </div>
    </div>
    <div class="part3-grid">
        <div class="p3-grid3 cell-gp3">
            <img src="../images/img2.jpg" alt="รูป2">
        </div>
        <div class="p3-grid4 cell-gp4">
            <h2>Light, Fast & Powerful</h2>
            <p class="tab">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p>
            <p>mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                enim.</p>
        </div>
    </div>
    <div class="part3-grid">
        <div class="p3-grid1">
            <img src="../images/img3.jpg" alt="รูป3">
        </div>
        <div class="p3-grid2">
            <h2>Light, Fast & Powerful</h2>
            <p class="tab">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p>
            <p class="g2-pdown">mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
                consequat
                massa quis
                enim.</p>
            <button class="bt-part3">Purchase Now </button>
        </div>
    </div>
    <div class="part4">
        <h2>A Price To Suit Everyone</h2>
        <p class="p4text-top color-t">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
            eget dolor. Aenean massa. Cum
            sociis natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus </p>
        <h1>$40</h1>
        <p class="p4text-top color-d">UI Design Kit</p>
        <p class="p4text-down">See, One price. Simple.</p>
        <button class="bt-part4">Purchase Now </button>
    </div>
    <div class="footer">
        <div class="footer-top">
            <div>
                <p class="toptext-p">©2020 Yourcompany</p>
            </div>
            <div><img src="../images/icon/Landie.png" alt="iconlandie"></div>
            <div><button class="bt-footer">Purchase Now </button></div>
        </div>
        <hr id="line">
        <div class="footer-down">
            <ul class="menuend">
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
            <div>
                <img class="iconfooter" src="../images/icon/icon1.png" alt="">
                <img class="iconfooter" src="../images/icon/icon2.png" alt="">
                <img class="iconfooter" src="../images/icon/icon3.png" alt="">
                <img class="iconfooter" src="../images/icon/icon4.png" alt="">
                <img class="iconfooter" src="../images/icon/icon5.png" alt="">
            </div>

        </div>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "193px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>

</html>